/* Variables */

:root{
    --color-primary: #2583ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
}

/* General CSS */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Inter', sans-serif;
}


/* Navigation */

nav {
    background: #000;
    display: flex;
    justify-content: space-between;
    /* padding: 30px 10px; */
}

nav .logo{
    width: 64px;
    height: 64px;
}

.line{
    width: 40px;
    border-bottom: 3px solid white;
    border-radius: 12px;
    margin: 10px;
}

.line--shorter{
    width: 25px;
}

/* Hero */

.hero__title{
    font-size: 7rem;
    color: white;
    width: 100%;
    text-align: center;
}

.hero {
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;

}

body{
    height: 7000px;
}

.content{
    display: flex;
    font-size: 2.6rem;
    gap: 10px;
    justify-content: space-around;
    padding: 50px;
    margin-top: 40px;
}

.content img {
    width: 400px;
    height: 500px;
    object-fit: cover;
}


h2 {
    font-size: 24px;
    margin: 15px 0px;
}
.text{
    width: 500px;
    height: 300px;
    overflow: hidden;
    padding: 30px;
    border: solid 1px black;

    align-self: center;
}


.hidden{
    visibility: hidden;
}


.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
}

.margin-top{
    margin: 500px 0px;
}

.margin-bot{
    margin: 500px 0px 0px 0px;
}


.end{
background: #303030;
    height: 100vh;
}

