/* Variables */

:root{
    --color-primary: #2583ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
}

/* General CSS */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Navigation */

nav {
    background: #000;
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
}

nav .logo{
    width: 64px;
    height: 64px;
}

.line{
    width: 40px;
    border-bottom: 3px solid white;
    border-radius: 12px;
    margin: 10px;
}

.line--shorter{
    width: 25px;
}