<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/LAYOUT/style.css" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <section>
        <div class="txt">
          <h1>Lorem ipsum dolor sit amet.</h1>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
            voluptatibus minus rem ad, aperiam suscipit earum nulla sit quae
            voluptatum veritatis placeat amet vero eum eos quaerat ullam vel
            qui, eligendi numquam similique natus! Eius quam assumenda
            asperiores consequatur corrupti iusto vitae odio, possimus, ipsam
            sapiente, veritatis repudiandae quod maiores?
          </p>
        </div>

        <div class="images">
          <div class="shape"></div>
          <div class="shape"></div>
          <div class="shape"></div>
          <div class="shape"></div>
          <div class="shape"></div>
          <div class="shape"></div>
        </div>
      </section>
      <section></section>
    </main>
  </body>
</html>
